{% extends 'base.html' %}
{% load static %}
{% block title %}Details{% endblock %}
{% block content %}

<div class="card border-primary mb-3">
  <div class="card-body">

    <div class="row">
      <div class="col-md-4">
        <img src="{{post.image.url}}" class="img-fluid" alt="{{post.title}}" style="height:200px;">
      </div>
      <div class="col-md-8">
        <h4 class="card-title">{{post.title|title}}</h4>
        <p class="card-text">{{post.description}}</p>
      </div>
    </div>
  
  </div>
</div>
<h4>Comments</h4>
{% for comment in post.post_comment.all %}
<p>{{comment.comment}}  by {{comment.user.get_full_name|title}}</p>
{% endfor %}
<form action="{% url 'comments:add_comment' post.id %}" method="POST">
  {% csrf_token %}
  <div class="form-group mb-3">
      <label for="exampleTextarea" class="form-label mt-4">Add Comment</label>
      <textarea class="form-control" id="exampleTextarea" rows="3" spellcheck="false" name="comment"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Add Comment</button>

</form>
{% endblock %}